
.texto{
    width: 80%;
    margin: 0 auto;
}

.header{
    
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 1.3% auto;
    
    

    

 }
 .capa{
    display: flex;
    justify-content: center;
 }


footer{
    margin: auto;
    text-align: center;
}


hr{
    max-width: 80%;
}